*{
	box-sizing:border-box;
}
body{
	background-color:#abd9e9;
	font-family:Arial;
}
#container{
	width:1000px;
	height:710px;
	background:#eff3f7;
	margin:0 auto;
	font-size:0;
	border-radius:5px;
	overflow:hidden;
}
aside{
	width:260px;
	height:800px;
	background-color:#3b3e49;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}
main{
	width:490px;
	height:800px;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

aside header{
	padding:30px 20px 30px;
}
aside input{
	width:100%;
	height:50px;
	line-height:50px;
	padding:0 50px 0 20px;
	background-color:#5e616a;
	border:none;
	border-radius:3px;
	color:#fff;
	background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
	background-repeat:no-repeat;
	background-position:170px;
	background-size:40px;
}
aside input::placeholder{
	color:#fff;
}
aside ul{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:600px;
	width: 260px;
}
aside li{
	padding:10px 0;
}
aside li:hover{
	background-color:#5e616a;
}
h2,h3,h5,h6{
	margin:0;
}
aside li img{
	border-radius:50%;
	margin-left:20px;
	margin-right:8px;
}
aside li div{
	display:inline-block;
	vertical-align:top;
	margin-top:12px;
	width: 100px;
}
aside li h2{
	font-size:14px;
	color:#fff;
	font-weight:normal;
	margin-bottom:5px;
}
aside li h3{
	font-size:12px;
	color:#7e818a;
	font-weight:normal;
}

.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}
.green{
	background-color:#58b666;
}
.orange{
	background-color:#ff725d;
}
.blue{
	background-color:#6fbced;
	margin-right:0;
	margin-left:7px;
}

main header{
	height:110px;
	padding:30px 20px 30px 40px;
	background: #3b3e49;
	width:1000px;
}
main header > *{
	display:inline-block;
	vertical-align:top;
	width: 1000px;
}
main header img:first-child{
	border-radius:50%;
}
main header img:last-child{
	width:24px;
	margin-top:8px;
}
main header div{
	margin-left:10px;
	margin-right:145px;
}
main header h1{
	font-size:16px;
	margin-bottom:5px;
	color: seashell;
}
main header h2{
	font-size:16px;
	margin-bottom:5px;
	color: cornflowerblue;
}
main header h3{
	font-size:14px;
	font-weight:normal;
	color:lightseagreen
}

#chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:535px;
	width: 742px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
#chat li{
	padding:10px 30px;
}
#chat h2,#chat h3{
	display:inline-block;
	font-size:13px;
	font-weight:normal;
}
#chat h3{
	color:#bbb;
}
#chat .entete{
	margin-bottom:5px;
}
#chat .message{
	padding:0px 25px 5px 30px;
	color:#fff;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
	border-radius:5px;
	word-wrap: break-word;
}
#chat .others{
	text-align:right;
}
#chat .you .message{
	background-color:#58b666;
}
#chat .others .message{
	background-color:#6fbced;
}
#chat .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
}
#chat .you .triangle{
		border-color: transparent transparent #58b666 transparent;
		margin-left:15px;
}
#chat .others .triangle{
		border-color: transparent transparent #6fbced transparent;
		margin-left:612px;
}

main footer{
	height:155px;
	width: 750px;
}
main footer textarea{
	resize:none;
	border:none;
	display:block;
	width:100%;
	height:80px;
	border-radius:3px;
	padding:20px;
	font-size:13px;
	margin-bottom:13px;
}
main footer textarea::placeholder{
	color:#ddd;
}
main footer img{
	height:30px;
	cursor:pointer;
}
main footer a{
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	color:#6fbced;
	vertical-align:top;
	margin-left:333px;
	margin-top:5px;
	display:inline-block;
}
#userImage{
	height: 48px;
}

#today{
	margin-left: 310px;
	background-color:darkseagreen;
	padding: 6px;
    width: 80px;
    height: 30px;
	text-align: center;
	border-radius: 25px;
	border: 2px solid whitesmoke;
    color: white;
    font-size: 14px;
}
#old{
	margin-left: 310px;
	background-color:lightblue;
	padding: 6px;
    width: 80px;
    height: 30px;
	text-align: center;
	border-radius: 25px;
	border: 2px solid whitesmoke;
    color: floralwhite;
    font-size: 14px;

}
.avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.badge{
	padding:0px 2px 0px 630px;
}
#usernameDialogNotifications{
	padding:0px 25px 5px 0px;
	color:black;
	max-width:70%;
	display:inline-block;
	text-align:left;
	border-radius:5px;
	word-wrap: break-word;
}